# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Django DB
db.sqlite3

# Environment files
.env
.env.*

# Logs
*.log




# Virtual environment
venv/


# IDE/editor configs
.idea/
.vscode/

# test deploy for static file copy check




